.card{
  position: relative;
  perspective:150rem;
  width:20rem; height:25rem;
  &__side{
    background-color:orangered;
    width:100%; height:100%;
    transition:all .5s ease-in-out;
    position: absolute; top:0; left:0;
    backface-visibility:hidden;
    &-front{
      color:white;
    }
    &-back{
      background-color:dodgerblue;
      transform:rotateY(180deg);
    }
  }
  &:hover &__side-front{
    transform:rotateY(-180deg);
  }
  &:hover &__side-back{
    transform:rotateY(0);
  }
}