.shape-outside{
  width:100%; position:relative;
  overflow:hidden;

  .bg-vid{
    position: absolute; top:0; left:0;
    width:100%; height:100%;
    z-index:-5;
    opacity:.45;

    video{
      width:100%; height:100%;
      object-fit:cover; //
    }
  }

  .story{
    background-color:darken(pink, 3%);
    width:75%;
    margin:0 auto 3.5rem auto;
    box-shadow:0 3rem 2rem rgba(0,0,0,.1);
    padding:2rem 3rem;
    padding-left:5rem;
    transform:skewX(-12deg);

    &>*{transform:skewX(12deg);}

    &__shape{
      width:8rem; height:8rem;
      background-color:pink;
      float:left;
      shape-outside:circle(50% at 50% 50%); //
      clip-path:circle(50% at 50% 50%); //
      transform:translateX(-2rem) skewX(12deg);
      position: relative;

      img{
        height:100%;
        transform:scale(1.3) translate(-.8rem, .7rem);
        transition:all .5s;
      }
      &.rose img{
        height:100%;
        transform:scale(1.3) translate(.25rem, .7rem);
        transition:all .5s;
      }
      figcaption{
        position: absolute; top:50%; left:50%;
        transform:translate(-50%,-50%);
        color:white;
        opacity:0;
        transition:opacity .5s;
      }

      &:hover figcaption{opacity:1;}
      &:hover img{
        transform:scale(1) translate(0,0);
        filter:blur(2px) brightness(70%);
      }
      &.rose:hover img{
        transform:scale(1.15) translate(.55rem,0);
        filter:blur(2px) brightness(70%);
      }
    }

    &__text{
      // transform:translateX(1rem);
    }

    &::after{clear:both; content:''; display:table;}
  }
}


// backface-visibility:hidden; may fix any movement after transitions