
*{ margin:0; padding:0; box-sizing:inherit; }
body{ box-sizing:border-box; }

$grid-width:71.25rem;
$gutter-vertical: 5rem;
$gutter-horizontal:3.75rem;

@import 'sections/grid-test';
@import 'sections/utilities';
@import 'sections/background-clip';
@import 'sections/sections';
@import 'sections/card';

